.card-header{
    width: 100%;
    color: white;
}

.titre{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
    
}


.card-img{
    height: 25rem;
    width: auto;
}

.card{
    width: 100%;
    box-sizing: border-box;
}


.cards{
    margin-right: 2rem;
}

.prestation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -8rem;
}
