.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    background-image: url('../../../public/img/banner2.png');
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    padding-top: 10rem;
}

.acte{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.card{
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card h2{
    background-color: #D93654;
    color: white;
    padding-bottom: 1rem;
    padding-top: 0.6rem;
}

.card img{
    width: 25rem;
    height: 30rem;
}

