.logo-container {
    position: relative;
    display: inline-block;
    width: 7rem;
    height: auto;
    margin-top: -1rem;
    margin-left: 1rem;
}

#logo{
    width: 100%;
    height: auto;
}


.text-logo{
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    top: 45%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: red;
}

.slogan{
    position: absolute;
    top: 10%;
    left: 10%;
    border-left: 2px solid black;
    padding-left: 0.5rem;
    padding-bottom: 0;
}

.slogan h1, .slogan h2{
    font-size: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 15%;
    padding-bottom: 0.5rem;
    width: 70%;
    color: red;
    border-bottom: 1px solid black;
}

.navigation .nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding-right: 0.4rem;
    padding-left: 0.1rem;
    padding-bottom: 0.2rem;
}

.navigation .nav-link img{
    width: 2rem;
    height: auto;
}

.navigation .nav-link:hover{
    background-color: rgb(255, 233, 226);
    border-radius: 13%;
}


.top{
    background: white;
}