#logo{
    width: 8rem;
    border-radius: 100%;
}


.text-logo{
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    top: 25%;
    left: 2.7%;
}

.slogan{
    position: absolute;
    top: 20%;
    left: 10%;
    border-left: 2px solid black;
    padding-left: 0.5rem;
    padding-bottom: 0;
}

.slogan h1, .slogan h2{
    font-size: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 15%;
    width: 70%;
}

.top{
    
background: linear-gradient(180deg, rgba(255,94,94,1) 0%, rgba(255,255,255,1) 80%);
}