.hello{
    background-color: #D93654;
    color: white;
    text-align: center;
    width: 33%;
    position: absolute; 
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 5rem;

}

.carousel-item img{
    width: 40rem;
    height: 25rem;
}

.card-header{
    background-color: #D93654;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.red{
    color: #D93654;
}

.rightSide{
    width: 50%;
    border-left: 2px solid black;
    text-align: center;
    padding-left: 4rem;
}

.rightSide h1{
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #D93654;
}

.rightSide h2, .rightSide h3{
    font-size: 1.55rem;
    margin-bottom: 1.5rem;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20rem;
    position: relative;
}

.home{
    padding-bottom: 1rem;
    background-image: url('../../../public/img/banner2.png');
    background-repeat: no-repeat;
    background-repeat: repeat-x;
}

a{
    color: #D93654;
    text-decoration: none;
}
